.equipment-detail-container, .maintenance-schedule-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.form-group.half-width {
    flex-basis: calc(50% - 10px);
}

.form-group.full-width {
    flex: 1;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%; /* Full width */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

textarea {
    height: 120px; /* Provide enough space for text */
}

.submit-button, .edit-button, .delete-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-button {
    background-color: #FFD580;
    color: #505050;
    font-size: 1rem;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #E6B800; /* Darker Yellow */
}

.edit-button {
    background-color: #75B9BE; /* Teal */
}

.delete-button {
    background-color: #FF6E6E; /* Light Coral */
}