.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rebeccapurple;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* NavBar Styles for NavBar.js*/
.nav-bar {
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  text-align: center;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.nav-li {
  float: left;
}

.nav-link {
  display: block;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}



/* EquipmentList.js */
.equipment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values based on your preferred card size */
  gap: 16px; /* Adjust the gap size as needed */
  padding: 16px;
}

.equipment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.equipment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equipment-name {
  font-size: 1.2em;
  color: #333; /* Text color for the equipment name */
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.details-container {
  display: none; /* Keep details hidden initially */
  font-size: 0.9em; /* Smaller text for details */
  color: #666; /* Lighter text color for details */
}



/* AddEquipment.js */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr; /* Adjust based on preferred width */
  align-items: center;
}

.form-group {
  display: flex;
}

.form-label {
  margin-right: 10px; /* Adjust the spacing between label and input */
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

textarea {
  height: 100px; /* Adjust based on preferred height */
}

.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Make the button take full width of its container */
}

.submit-button:hover {
  background-color: #4cae4c;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.edit-button {
  background-color: #4CAF50; /* Green */
}

.delete-button {
  background-color: #F44336; /* Red */
}

/* AddMaintenance.js */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px; /* Add some space between the form groups */
}

.form-label {
  flex-basis: 100%; /* Make the label take full width on smaller screens */
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
.submit-button {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Add some space above the button */
}

.submit-button:hover {
  background-color: #4cae4c;
}

/* EquipmentDetail.js */
.equipment-detail-container {
  max-width: 800px; /* Adjust based on your layout */
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.equipment-header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.equipment-section {
  margin-bottom: 1rem;
}

.equipment-section-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.equipment-section-content {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* MaintenanceSchedule.js */
.maintenance-schedule-container {
  margin: 20px;
  padding: 20px;
}

.maintenance-schedule-header {
  text-align: center;
  margin-bottom: 20px;
}


.maintenance-schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.maintenance-schedule-table th,
.maintenance-schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.maintenance-schedule-table th {
  background-color: #f2f2f2;
}

/* Style for alternate row coloring */
.maintenance-schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.maintenance-schedule-table tr:hover {
  background-color: #eaeaea;
}
.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Footer */

html, body {
  height: 100%;
  margin: 0;
}

#root { /* assuming #root is your main app div */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content { /* wrapper for the content */
  flex: 1;  /* This will make the content expand to fill the space */
}

.footer {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Push footer to the bottom */
}


/* Home Page css */
.home-container {
  color: #ffffff;
  background-color: #1A1A1D; /* Dark background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  color: #F2EBE5;
}

.hero {
  padding: 50px 20px;
}

.intended-users {
  max-width: 800px; /* or any other max-width that fits your design */
  margin: 0 auto; /* This centers the .intended-users div */
  padding: 20px;
}

/* Additional styling for the .intended-users section if needed */
.intended-users h2 {
  color: #66FCF1; /* Adjust the color to fit your design */
  margin-bottom: 20px; /* Space between the header and paragraph */
}

.intended-users p {
  color: #C5C6C7; /* Lighter text color for readability */
  line-height: 1.6; /* Adjust line height for better readability */
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.features-overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  grid-gap: 20px; /* Spacing between grid items */
  padding: 20px;
}

.feature-item {
  padding: 20px;
  background: #4E4E50; /* Slightly lighter than the background for contrast */
  border-radius: 8px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.feature-item h3 {
  margin-top: 20px;
  color: #66FCF1; /* A bright color for headings */
}

.feature-item p {
  margin-top: 10px;
  color: #C5C6C7; /* Lighter text color for readability */
}

.btn-primary {
  background-color: #66FCF1;
  color: #1A1A1D;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0B0C10;
  color: #66FCF1;
}


/* CheckoutCheckinPage.js */
.checkout-checkin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.forms-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.form-section {
  flex-basis: 48%; /* Adjust the width of form sections */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.currently-checked-out {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.currently-checked-out h2 {
  text-align: center;
  margin-bottom: 20px;
}


/* Responsive design adjustments */
@media (max-width: 1024px) {
  .features-overview {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}

@media (max-width: 768px) {
  .features-overview {
    grid-template-columns: 1fr; /* One column for mobile screens */
  }
}
