/* Main App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #B19CD9; /* Light Purple */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-link {
  color: #75B9BE; /* Teal */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NavBar Styles for NavBar.js */
.nav-bar {
  background-color: #B19CD9; /* Light Purple */
  color: white;
  padding: 10px;
  text-align: center;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.nav-li {
  float: left;
}

.nav-link {
  display: block;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FAD0C4; /* Soft Pink */
  transition: width 0.3s ease-in;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link::after {
  background-color: white;
}


/* EquipmentList.js */
.equipment-grid {
  background-color: #B19CD9; /* Light Purple */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.equipment-card {
  border: 1px solid #E6E6E6; /* Light Gray */
  border-radius: 8px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.equipment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equipment-name {
  font-size: 1.2em;
  color: #505050; /* Dark Gray */
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.details-container {
  display: none;
  font-size: 0.9em;
  color: #666;
}



/* AddEquipment.js and AddMaintenance.js */
body {
  font-family: 'Arial', sans-serif; /* Use a font-family that you prefer */
  line-height: 1.6;
  color: #333;
  background: #f4f4f4; /* A light grey background for the overall page */
}

.form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.equipment-detail-container, .maintenance-schedule-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group.half-width {
  flex-basis: calc(50% - 10px);
}

.form-group.full-width {
  flex: 1;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%; /* Full width */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

textarea {
  height: 120px; /* Provide enough space for text */
}

.submit-button, .edit-button, .delete-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit-button {
  background-color: #FFD580;
  color: #505050;
  font-size: 1rem;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #E6B800; /* Darker Yellow */
}

.edit-button {
  background-color: #75B9BE; /* Teal */
}

.delete-button {
  background-color: #FF6E6E; /* Light Coral */
}


/* EquipmentDetail.js */
.equipment-detail-container {
  max-width: 800px; /* Adjust based on your layout */
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.equipment-header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.equipment-section {
  margin-bottom: 1rem;
}

.equipment-section-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.equipment-section-content {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* MaintenanceSchedule.js */
.maintenance-schedule-header {
  text-align: center;
  margin-bottom: 20px;
}

.maintenance-schedule-table th, .maintenance-schedule-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.maintenance-schedule-table th {
  background-color: #75B9BE; /* Teal */
  color: white;
}

.maintenance-schedule-table tr:nth-child(even) {
  background-color: #F9F9F9; /* Very light gray */
}

.maintenance-schedule-table tr:hover {
  background-color: #eaeaea;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #B19CD9; /* Light Purple */
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}









/* CheckoutCheckinPage.js */
.checkout-checkin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #505050; /* Dark Gray for text */
}

.forms-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.form-section {
  flex-basis: 48%;
  border: 1px solid #E6E6E6; /* Light Gray for borders */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #FFFFFF; /* White background for clarity */
}

.form-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #75B9BE; /* Teal for headings */
}

.currently-checked-out {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  margin-top: 20px;
}

.currently-checked-out h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #75B9BE;
}

/* CheckedOutHistory.css */
.checked-out-history-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checked-out-history-table-container {
  overflow-x: auto; /* Enables horizontal scrolling if table overflows */
}

.checked-out-history-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: auto; /* Set width as auto to size according to content */
  max-width: 100%; /* Ensure it doesn't overflow the viewport */
}
.checked-out-history-header {
  text-align: center;
  margin-bottom: 20px;
}

.checked-out-history-table th, .checked-out-history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.checked-out-history-table th {
  background-color: #75B9BE; /* Teal */
  color: white;
}

.checked-out-history-table tr:nth-child(even) {
  background-color: #F9F9F9; /* Very light gray */
}

.checked-out-history-table tr:hover {
  background-color: #eaeaea;
}

.checked-out-history-table .weather-cell {
  text-align: left;
  white-space: nowrap; /* Ensures the content is on a single line */
}

.checked-out-history-table .weather-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.checked-out-history-table .weather-icon {
  width: 20px; /* Adjust as needed */
  height: auto;
  margin-top: 5px;
}



/* Weather.js */
.weather-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.weather-section,
.equipment-section {
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-section {
  flex-grow: 2;
}

.equipment-section {
  flex-grow: 1;
}

.weather-container input[type='text'],
.weather-container select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.weather-container button {
  padding: 10px 15px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weather-container button:hover {
  background-color: #3949ab;
}

.error-message {
  color: #e53935;
  margin-top: 10px;
}

/* Add responsive design */
@media (max-width: 768px) {
  .weather-container {
    flex-direction: column;
  }
  .weather-section,
  .equipment-section {
    margin: 10px 0;
  }
}


/* Responsive design adjustments */
@media (max-width: 1024px) {
  .features-overview {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}

/* Styles that apply when the screen width is less than or equal to 768 pixels */
@media (max-width: 768px) {
  .form-container form {
    grid-template-columns: 1fr; /* Stack form elements in one column on small screens */
  }

  .full-width-input,
  .submit-button {
    grid-column: 1 / -1; /* Make certain elements full width */
  }

  .form-group {
    margin-bottom: 0.5rem; /* Less space between form elements on smaller screens */
  }
}
